body {
  /* background: linear-gradient(90deg, #000 calc(22px - 1px), transparent 1%)
      center / 22px 22px,
    linear-gradient(#000 calc(22px - 1px), transparent 1%) center / 22px 22px,
    #b0b0b0; */
    scroll-behavior: smooth;
}

#arjun-title {
  margin: 0;
  padding: 0;
  text-wrap: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20vw;
  font-size: clamp(1vw, 5vw, 15vw);
  font-weight: 900;
  /* scale: 0.5 1; */
  border: solid 10px;
}
#arjun-title span {
  transform: translateY(-50vh);
  animation: slide-down 2.5s cubic-bezier(0.32, 2, 0.55, 0.27) forwards 1;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@keyframes slide-down {
  0%{
    transform: translateY(-50vh);
  }
  90%{
    transform: translateY(0);
    color: #fff;
  }
  100%{
    transform: translateY(1vh);
    color: #0ff;
  }
}

.classy {
  background: radial-gradient(90deg,#0a0a0a, #100000);
}